{% htmlcompress %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/assets/DataTables/datatables.css" />

    <link href="/assets/css/main.css" rel="stylesheet" />

    <style>
        .content_body_container {
            padding: 25px;
        }
    </style>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/js/jquery-3.5.0.min.js"></script>
    <script>
        $(document).ready(function(){

        });
    </script>

</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="row flex_container">
                <div class="box box-1">
                    {% include '_partials/header.html' %}
                </div>
                <div class="box box-2 content_body_container">

                    {% block body %}
                    {% endblock %}

                </div>
                <div class="box box-3">
                    {% include '_partials/footer.html' %}
                </div>
            </div>

        </div>
    </div>
</div>

<div class="overlay_container">
    <div class="overlay_content">

    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="assets/js/jquery-3.5.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="/assets/bootstrap-table/dist/bootstrap-table.min.js"></script>-->
<script src="assets/DataTables/datatables.js"></script>


{% block scripts %}

{% endblock %}

</body>
</html>
{% endhtmlcompress %}


